<% if (title) { %>
<h1><%= title %></h1>
<% } %>

 <%- messages() %>

<!-- ===================== -->
<!-- Account Update Form -->
<!-- ===================== -->
<section id="account-update">
    <h2>Account Update</h2>
    <form class="form" method="post" action="/account/update/">
        <input type="hidden" name="account_id" value="<%= accountData.account_id %>" />
        <label for="account_firstname">First Name</label>
        <input type="text" id="account_firstname" name="account_firstname" requiredvalue="<%= accountData.account_firstname %>"/>
        <label for="account_lastname">Last Name</label>
        <input type="text" id="account_lastname" name="account_lastname" required value="<%= accountData.account_lastname %>"/>
        <label for="account_email">Email</label>
        <input type="email" id="account_email" name="account_email" requiredvalue="<%= accountData.account_email %>"/>
        <button type="submit">Update Account</button>
    </form>
</section>
<!-- ===================== -->
<!-- Change Password Form -->
<!-- ===================== -->
<section id="change-password">
    <h2>Change Password</h2>
    <p>Enter a new password to update your current password. Must be at least 12 characters, include 1 uppercase letter, 1 number, and 1 special character.</p>
    <form action="/account/update-password">
        <input type="hidden" name="account_id" value="<%= accountData.account_id %>" />
        <label for="account_password">New Password</label>
        <input 
          type="password" 
          id="account_password" 
          name="account_password" 
          required
          pattern="(?=.*[A-Z])(?=.*[0-9])(?=.*[\W_]).{12,}"
          title="12+ characters, 1 uppercase letter, 1 number, 1 special character"
        />
    <button type="submit">Change Password</button>
    </form>
</section>